{% from 'macros.html' import format_form %}
{% extends "base.html" %}

{% block content %}
<a href="/logout">LOGOUT</a>

{% if activities %}
    <ul>
        {% for activity in activities %}
            <li>{{activity.request_type}}ed {{activity.count}}x on {{activity.request_date.strftime('%Y-%m-%d')}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if current_user.is_admin or current_user.is_super_admin %}
    {{ format_form(form=form, action="/register", submit_value="Create Account") }}
{% endif %}

{% endblock %}