{% from 'macros.html' import format_form %}
{% extends "base.html" %}

{% block content %}
<a href="/logout">LOGOUT</a>

{% if activities %}
    <ul>
        {% for activity in activities %}
            <li>{{activity.request_type}}ed {{activity.count}}x on {{activity.request_date.strftime('%Y-%m-%d')}}
            </li>
        {% endfor %}
    </ul>
{% endif %}


{% if current_user.is_admin or current_user.is_super_admin %}
    <a href="#registerModal" rel="modal:open">Create Account</a>
    <div id="registerModal" class="modal">
        {{ format_form(form=form, action="/register/", submit_value="Create Account") }}
    </div>
    
{% endif %}


<div id="activity-graph">

</div>
{% endblock %}

{% block scripts %}
    $.get("/activities/{{current_user.id}}/", function(data, status){
        $("#activity-graph").append(data)
    })

    
{% endblock %}