{% macro format_form(form, action, submit_value) %}
    <form action="{{action}}"" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}
        <input type="submit" value="{{submit_value}}">
    </form>
{% endmacro %}
