{% from 'macros.html' import format_form %}
{% extends "base.html" %}

{% block header_imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
{% endblock %}

{% block content %}

{% if current_user.is_admin or current_user.is_super_admin %}
<div id="registerModal" class="modal">
    {{ format_form(form=form, action=url_for('team_bp.create_team'), submit_value="Create Team") }}
</div>
<div class="create_user text_lightblue">
    <i class="fa fa-plus-square fa-2x"></i>
    <p> <a href="#registerModal" rel="modal:open">Create New Team</a></p>
</div>
{% endif %}

<div class="user_list">
    <div class="list">
        {% if teams %}
            {% for team in teams %}
            <div class="list_icon_text">
                {% if team.is_active %}
                    <i class="fa fa-circle-o" style="color: blue;"></i><a href="/teams/{{team.name}}">{{ team.name }}</a>
                {% else %}
                    <i class="fa fa-circle-o" style="color: red;"></i><a href="/teams/{{team.name}}">{{ team.name }}</a>
                {% endif %}
            </div>
            
            <div class="edit_user">
                <span class="font_bold text_primary "><button onclick="toggleTeamStatus('{{team.name}}')">{{'Deactivate' if team.is_active else 'Activate'}}</button></span>
            </div>
            <div class ="delete_user">
                <span class="font_bold text_title"><button onclick="deleteTeam('{{team.name}}')">Delete</button></span>
                <i class="fa fa-trash"></i>
            </div>    
        {% endfor %}
    {% endif %}
</div>
<h3>Pending Requests</h3>
{% if pending_requests %}
    <div class="user_list">
        <div class="list">
        {% for team in pending_requests %}
            <div class="list_icon_text">
                <i class="fa fa-circle-o" style="color: blue;"></i>{{ team.name }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
    function toggleTeamStatus(team_name){
        $.ajax({
        url: `{{url_for('team_bp.toggle_team_status')}}?team_name=${team_name}`,
        type: 'PUT',
        success: function (result){
            location.reload();
        }
    });
}

function deleteTeam(team_name){
    $.ajax({
    url: `{{url_for('team_bp.delete_team')}}?team_name=${team_name}`,
    type: 'DELETE',
    success: function (result){
        location.reload();
    }
    });
    }
{% endblock %}