{% from 'macros.html' import format_form %}
{% extends "base.html" %}

{% block header_imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
{% endblock %}

{% block content %}

{% if current_user.is_admin or current_user.is_super_admin %}
    <div id="registerModal" class="modal">
        {{ format_form(form=form, action="/register/", submit_value="Create Account") }}
    </div>
    <div class="create_user text_lightblue">
        <i class="fa fa-plus-square fa-2x"></i>
        <p> <a href="#registerModal" rel="modal:open">Create New User</a></p>
    </div>
{% endif %}

<div class="user_list">
    <div class="list">
        {% if users %}
        {% for user in users %}
        <div class="list_icon_text">
            <p class="text_primary fa fa-user-o"><a href="/users/{{user.email}}">{{ user.email }}</a></p>
        </div>
        
        <div class="edit_user">
            <span class="font_bold text_title"><a href="#">Edit</a></span>
            <i class="fa fa-pencil"></i>
        </div>
        <div class ="delete_user">
            <span class="font_bold text_title"><a href="#">Delete</a></span>
            <i class="fa fa-trash"></i>
        </div>
        <div>
            <span class="font_bold text_title"><a href="{{url_for('user_bp.toggle_block_status', user_email=user.email)}}">{{ 'Unblock' if user.is_blocked else 'Block'}}</a></span>
        </div>    
    {% endfor %}
    {% endif %}

</div>
{% endblock %}