{% from 'macros.html' import format_form %}
{% extends "base.html" %}

{% block header_imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
{% endblock %}

{% block content %}

{% if current_user.is_admin or current_user.is_super_admin%}
    <div id="registerModal" class="modal">
        {{ format_form(form=form, action=url_for('user_bp.register'), submit_value="Create Account") }}
    </div>
    <div id="editUserModal" class="modal">
    </div>
    <div class="create_user text_lightblue">
        <i class="fa fa-plus-square fa-2x"></i>
        <p> <a href="#registerModal" rel="modal:open">Create New User</a></p>
    </div>
{% endif %}

<div class="user_list">
    <div class="list">
        {% if users %}
        {% for user in users %}
        <div class="list_icon_text">
            <p class="font-bold fa fa-user-o"><a href="/users/{{user.email}}">{{ user.email }} ({{ user.get_roles() }})</a></p>
        </div>
        
        <div class="edit_user">
            <span class="font_bold text_title"><button onclick="get_user_edit_form('{{user.email}}')"><a href="#editUserModal" rel="modal:open">Edit</a></button></span>
        </div>
        <div class ="delete_user">
            <span class="font_bold text_title"><button onclick="delete_user('{{user.email}}')">Delete</a></span>
        </div>
        <div>
            <span class="font_bold text_title"><a href="{{url_for('user_bp.toggle_block_status', user_email=user.email)}}">{{ 'Unblock' if user.is_blocked else 'Block'}}</a></span>
        </div>
        <div>
            <span>
                <i class="fa fa-envelope"><a href="{{url_for('message_bp.message', user_email=user.email)}}">Message</a></i>
            </span>
        </div>    
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
{% block scripts %}
    function delete_user(user_email){
        if (confirm("Are you sure you want to delete user?")){
            $.ajax({
                url: `{{url_for("user_bp.users")}}?user_email=${user_email}`,
                type: 'DELETE',
                success: function (result){
                    location.reload();
                }
            });
        }
    }

    function get_user_edit_form(user_email){
        $.get(`{{url_for('user_bp.edit_user')}}?user_email=${user_email}`, function(data, status){
            $("#editUserModal").empty();
            $("#editUserModal").append(data);
        })
    }
{% endblock %}